body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.container {
  width: 600px;
  margin: 40px auto;
  background: rgb(12, 10, 10);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  color: #000000;
}

.form {
  display: flex;
  margin-bottom: 20px;
}

input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #000000;
  width: 150px;
  margin-left: 20px;
}
#one{
  margin-left: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
}

button {
  padding: 8px 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(184, 181, 181);
}

form button {
  background-color: #4CAF50;
  color: rgb(255, 255, 255);
  margin-left: 20px;
}
form button:hover{
  color: #4CAF50;
  background-color: white;
  border: 1px solid #4CAF50;
}

table {
  width: 50%;
  border-collapse: collapse;
  margin-left: 380px;
  margin-top: 20px;
}

th, td {
  border: 2px solid #000000;
  padding: 10px;
  text-align: center;
 
  
}
td button{
  margin-left: 20px;
}

 #edit{
  color: rgb(0, 0, 0);
  margin-right: 5px;
}

#edit:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(47, 255, 0);
 
}

th {
  background-color: #f5f5f5;
}


td button:hover{
  background-color: rgb(255, 0, 0);
  color: white;
}


@media (max-width: 600px) {

  body {
    background-color: #ffffff;
  }

  .container {
    width: 95%;
    margin: 20px auto;
    padding: 15px;
    border-radius: 8px;
  }

  h2 {
    font-size: 20px;
    color: #000;
  }

  .form {
    flex-direction: column;
    gap: 12px;
  }

  input {
    width: 90%;
    margin-left: 0;
    padding: 10px;
    font-size: 14px;
    margin-top: 20px;
  }

  #one {
    margin: 0;
  }

  form button {
    width: 80%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 15px;
  }


  table {
    width: 100%;
    margin-left: 0;
    font-size: 14px;
  }

  th, td {
    padding: 8px;
  }

  td button {
    margin: 5px 0;
    width: 50%;
    font-size: 13px;
  }

  .edit {
    margin-bottom: 5px;
  }
}

