body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.container {
  width: 600px;
  margin: 40px auto;
  background: rgb(12, 10, 10);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  color: #000000;
}

.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #000000;
  width: 150px;
  margin-left: 20px;
}
#one{
  margin-left: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
}

button {
  padding: 8px 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button {
  background-color: #4CAF50;
  color: rgb(255, 255, 255);
  margin-left: 10px;
}
form button:hover{
  color: #4CAF50;
  background-color: white;
  border: 1px solid #4CAF50;
}

table {
  width: 50%;
  border-collapse: collapse;
  margin-left: 380px;
  margin-top: 20px;
}

th, td {
  border: 2px solid #000000;
  padding: 10px;
  text-align: center;
 
  
}
td button{
  margin-left: 20px;
}
 #edit{
  background-color: blue;
  color: white;
}

th {
  background-color: #f5f5f5;
}

.edit {
  background-color: #2196F3;
  color: white;
  margin-right: 5px;
  
}

.delete {
  background-color: #000000;
  color: white;
  
}
td button:hover{
  background-color: black;
  color: white;
}

